<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="uk.co.umbrellasupport.umbrella.army">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
    <application android:label="army.Android">
<receiver android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
    <intent-filter>
      <action android:name="com.google.android.c2dm.intent.RECEIVE" />
      <category android:name="uk.co.umbrellasupport.umbrella.army" />
    </intent-filter>
  </receiver>
    </application>
    <permission android:name="uk.co.umbrellasupport.umbrella.army.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
<uses-permission android:name="uk.co.umbrellasupport.umbrella.army.permission.C2D_MESSAGE" />
</manifest>